<!DOCTYPE html>
<html>
<head>
  <title>Receive Data</title>
</head>
<body>
  <ul id="dataList"></ul>

  <script>
    let ws = new WebSocket("wss://waterserver-vsqt.onrender.com/ws/sensor/some_sensor_name/"); // Replace with your WebSocket URL

    ws.onmessage = function(event) {
      let data = JSON.parse(event.data);
      displayData(data);
    };

    function displayData(data) {
      let dataList = document.getElementById('dataList');
      let listItem = document.createElement('li');
      listItem.appendChild(document.createTextNode(data));
      dataList.appendChild(listItem);
      console.log(data)
    }
  </script>
</body>
</html>
